@import './theme.less';

#app {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
}