.default {
    --primary-font-color: rgba(255, 255, 255, 1);
    --secondary-font-color: rgba(255, 255, 255, 0.7);

    --common-backdrop-filter: blur(10px);

    --common-background-color: rgba(0, 0, 0, 0);
    --common-box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.05) inset,
        2px 2px 6px rgba(0, 0, 0, 0.1);

    --icon-svg-color: rgba(255, 255, 255, 1);
    --icon-hover-background-color: rgba(255, 255, 255, 0.2);

    --input-placeholder-color: rgba(255, 255, 255, 0.6);
    --selection-background-color: rgb(20, 150, 220);

    --item-hover-background-color: rgba(255, 255, 255, 0.1);
    --item-active-background-color: rgba(255, 255, 255, 0.2);

    --scrollbar-track-background-color: rgba(0, 0, 0, 0);
    --scrollbar-thumb-background-color: rgba(255, 255, 255, 0.8);
    --scrollbar-thumb-hover-background-color: rgba(255, 255, 255, 1);

    --switch-background-color: rgba(0, 0, 255, 0);
    --switch-round-background-color: rgba(255, 255, 255, 1);

    --button-background-color: rgba(0, 0, 0, 0);
    --button-hover-background-color: rgba(255, 255, 255, 0.1);
    --reset-button-hover-background-color: #ff3c41;
}

.dark {
    --primary-font-color: rgba(0, 0, 0, 1);
}

.light {
    --primary-font-color: rgba(255, 255, 255, 1);
}