.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.extension-from-left-top-enter-active {
  transform-origin: left top;
  animation: bounce 0.5s ease;
}

.extension-from-left-top-leave-active {
  transition: .25s ease;
  opacity: 0;
}

.extension-from-right-top-enter-active {
  transform-origin: right top;
  animation: bounce 0.5s ease;
}

.extension-from-right-top-leave-active {
  transition: .25s ease;
  opacity: 0;
}

.extension-from-center-enter-active {
  transform-origin: center;
  animation: bounce-center 0.5s ease;
}

.extension-from-center-leave-active {
  transition: .25s ease;
  opacity: 0;
}

.toggle-left-enter-active {
  animation: toggle-left 0.5s ease;
}

.toggle-left-leave-active {
  transform: translateX(-100%);
  transition: 0.25s ease;
}

.toggle-left-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.toggle-left-enter-to {
  transform: translateX(0);
}

.toggle-left-leave-from {
  transform: translateX(0);
}

.toggle-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.toggle-right-enter-active {
  animation: toggle-right 0.5s ease;
}

.toggle-right-leave-active {
  transform: translateX(100%);
  opacity: 0;
}

.toggle-right-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.toggle-right-enter-to {
  transform: translateX(0);
}

.toggle-right-leave-from {
  transform: translateX(0);
}

.toggle-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transform: translateX(-100%);
  transition: 0.25s ease;
}

.slide-left-enter-from {
  transform: translateX(100%);
  opacity: 0;
}

.slide-left-enter-to {
  transform: translateX(0);
}

.slide-left-leave-from {
  transform: translateX(0);
}

.slide-left-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transform: translateX(100%);
  transition: 0.25s ease;
}

.slide-right-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-enter-to {
  transform: translateX(0);
}

.slide-right-leave-from {
  transform: translateX(0);
}

.slide-right-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.windmill-left-enter-active,
.windmill-left-leave-active {
  transform: rotate3d(0, 1, 0, 90deg);
  transition: 0.25s ease;
}

.windmill-left-enter-from {
  transform: rotate3d(0, 1, 0, -90deg);
  opacity: 0;
}

.windmill-left-enter-to {
  transform: translateX(0);
}

.windmill-left-leave-from {
  transform: translateX(0);
}

.windmill-left-leave-to {
  transform: rotate3d(0, 1, 0, 90deg);
  opacity: 0;
}

.windmill-right-enter-active,
.windmill-right-leave-active {
  transform: rotate3d(0, 1, 0, -90deg);
  transition: 0.25s ease;
}

.windmill-right-enter-from {
  transform: rotate3d(0, 1, 0, 90deg);
  opacity: 0;
}

.windmill-right-enter-to {
  transform: translateX(0);
}

.windmill-right-leave-from {
  transform: translateX(0);
}

.windmill-right-leave-to {
  transform: rotate3d(0, 1, 0, -90deg);
  opacity: 0;
}

.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.list-leave-active {
  position: absolute;
}

@keyframes bounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(1.05, 1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce-center {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.05, 1.05);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes toggle-left {
  0% {
    transform: translateX(100%);
  }

  60% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes toggle-right {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}